<header class="bg-light p-3">
    <div class="container">
        <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
            <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 text-dark text-decoration-none">
                <img src="../../../assets/images/logo.png" alt="" style="height: 60px;" />
            </a>

            <!-- <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
                <li><a href="#" class="nav-link px-2 link-dark">Customers</a></li>
                <li><a href="#" class="nav-link px-2 link-dark">Products</a></li>
            </ul> -->

            <form class="col-12 col-lg-auto mb-lg-0 mx-lg-auto" role="search">
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="Search..." aria-label="Recipient's username"
                        aria-describedby="basic-addon2">
                    <button class="input-group-text" id="basic-addon2">Search</button>
                </div>
            </form>


            <ul class="nav col-12 col-lg-auto justify-content-center mb-md-0">
                <li><a routerLink="" class="nav-link px-2 link-secondary">Home</a></li>
                <li><a routerLink="seller-auth" class="nav-link px-2 link-dark">Seller</a></li>
                <li><a href="#" class="nav-link px-2 link-secondary cart-count">Cart <span
                            class="badge bg-danger">12</span></a>
                </li>
                <li><a href="#" class="nav-link px-2 link-secondary">Login</a></li>
            </ul>
        </div>
    </div>
</header>